/* Estilo para los íconos */
.icon {
    position: absolute;
    font-size: 2em; /* Tamaño del ícono */
    color: #00aaff; /* Color del ícono */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: transform 0.3s ease; /* Transición suave para el zoom */
}

.icon:hover {
    transform: scale(1.2); /* Efecto de zoom al pasar el mouse */
}

/* Estilo para el texto que aparece al pasar el cursor */
.icon:hover::after {
    content: attr(data-title); /* Muestra el nombre del lugar */
    position: absolute;
    top: -30px; /* Ajusta la posición del texto */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 5px;
    border: 1px solid #00aaff;
    border-radius: 5px;
    white-space: nowrap;
}

/* Contenedor para centrar la imagen */
.map-container {
    position: relative;
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    width: 100%;
    height: 100vh; /* Altura completa de la ventana */
}

/* Asegúrate de que la imagen ocupe todo el contenedor */
#mapa-img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen al contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen se muestre correctamente */
}

